.Footer{
    height: 22vh;
    background-color: #D7D7D7;
    position: relative;
}

.left{
    font-weight: 200;
    display: flex;
}

.left img{
    width: 74px;
    height: 73px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.leftText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 23px;
}

.leftText p {
    margin: 0;
    font-size: 10px;
    padding-left: 0px;
}  

.leftText h2 {
    font-size: 18px;
    font-weight: 500;
}

.back{
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0px;
    height: 22vh;
}

.right{
    margin-left: 40px;
    margin-bottom: 10px;
}