.Material{
    position: relative;
    width: 261px;
    height: 295px;
    display: flex;
    align-items: center;
}

.Material h3{
    position: absolute;
    left: 25px;
    border-radius: 15px;
    margin-top: 10px;
    top: 10px;
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 12px;
    background-color: #F8F8F880;
}

.Material button{
    position: absolute;
    padding: 12px;
    width: 70%;
    border-radius: 12px;
    background-color: #F4B921;
    border: 0;
    left: 35px;
    bottom: 25px;
}

.Material img{
    width: 100%;
}