*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 19px;
}

.active{
    text-decoration: underline !important;
    
    font-weight: 500;
}